.border{
    border-radius: 8px;
    background: #333;
    display: inline-flex;
    flex-flow: column nowrap;
    cursor: pointer;
    user-select: none;
}

.month-area{
    background: #ec0000;
    margin: 2px 2px 0 2px;
    border-radius: 6px 6px 0 0;
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-area h1{
    font-size: 12px;
    padding: 0;
    margin: 2px 0;
}

.day-area{
    background: #ececec;
    margin: 0 2px 2px 2px;
    border-radius: 0 0 6px 6px;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.isTrip .day-area.legal{
    background: #96cf96;
}

.isTrip .day-area.illegal{
    background: #ff9494;
}

.day-area p:first-child{
    font-size: 10px;
    margin: 2px 0 0;
}

.day-area p{
    font-size: 18px;
    padding: 0;
    margin: 0 0 2px 0;
}

.legality{
    position: absolute;
    background: #ff8f00;
    border-radius: 1000px;
    font-size: 12px;
    border: 2px #333 solid;
    padding: 0 5px;
    transform: translate(-30%,-30%);
    color: #333;
}

